body {
    margin: 60px auto;
    width: 70%;
}

nav{
    border-bottom: 1px solid #d5d5d5;
}

nav ul {
    font: 400 20px/1.2 'Roboto Slab', Georgia, serif;
    padding: 0px;
    list-style: none;
    /*font-weight: Light;*/
    font-style: bold;
    padding: 0;
}

nav ul li {
    display: inline;

}

nav li a {
    text-decoration: none;
    color: #111;
    font-size: 0.7em;
}


}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}


footer ul li {
    display: inline;
}
a {
    text-decoration: none;
    color: #111;
    font-size: 1em;
    font: 400 14px/1.2 'Open Sans', Georgia, serif;
    /*font-weight: bold*/
}
a:hover {
    text-decoration: underline;
}
h1 {
/*    font-size: 2em;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;*/
    font: 400 35px/1.5 'Montserrat', Georgia, serif;
}
p {
    font-size: .8em;
    line-height: 1.4em;
    color: #999;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    clear: both;    
}

ind img {
    border-radius: 50%;

    /*border-radius: 50px 15px ;*/

}

img { 
    float:left;
    width:200px; height: 200px;
    margin: 0 15px 25px 0;
    /*border-radius: 50%;*/
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul li {
    list-style: none;
    /*padding: 0;*/

}


li {
    margin-bottom: 20px;
}
