<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

			<style>
				.fa {
				  padding: 10px;
				  font-size: 20px;
				  width: 20px;
				  text-align: center;
				  text-decoration: none;
				  margin: 5px 2px;
				  border-radius: 50%;
				}

				.fa:hover {
				    opacity: 0.7;
				}

				.fa-linkedin {
				  background: #007bb5;
				  color: white;
				}

				.fa-github {
					color: white;
				   	background: black;
				}

				.fa-envelope {
					color: black;
				}
		</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li style="float:right"><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	        	<a href="mailto:philipbotros@live.nl" class="fa fa-envelope"></a></li>
				<a href="https://www.linkedin.com/in/philip-botros-a23257a5/" class="fa fa-linkedin"></a>
    			<a href="https://www.github.com/philipbotros" class="fa fa-github"></a>
			</footer>
		</body>
	</html>