---
layout: default
---
{% include mathjax.html %}
<div style="padding-top: 100px;">
<full>
<img src="{{ page.background }}" >
</full>
<!-- <div> -->
<h1>{{ page.title }}</h1>
<!-- </div> -->
<!-- <p style="font-size: 0.7em"> {{ page.date | date_to_string }}</p> -->
		    <div
		    style="color:black; display: block;background-color: white"> <a href =  "/about" > Philip Botros </a> <ind2> <img src="../../../about/pb2.jpg" alt="PF"
      style="width:40px;height:40px;border:0px solid black;"> </ind2>
      		<div style="font-size:0.8em;color:#999;background-color: white"> {{ page.date | date_to_string }} </div>
      		</div>

<div class="post">
  {{ content }}
</div>
</div>